.btn_mypage{
	text-align:center;
	margin-top:40px;
}

table.vertical-list-table{
	margin-left:auto;
	margin-right:auto;
	width:800px;
	font-size:0.9;
	line-height:0.8;
	border-spacing:1;
}

table.vertical-list-table th{
	width:40%;
	padding:20px;
	font-weight:700;
	vertical-align:top;
	background: #555555;
	color:white;
	text-align: center;
}

table.vertical-list-table td{
	width:60%;
	padding-left:30px;
	background:#999999;
	color:white;
	text-align: left;
}

table.vertical-list-table, th, td {
	border-collapse: collapse;
	border-top: 15px solid white;
	border-bottom:15px solid white;
}