#purchaseTable{
	border-top:20px solid black;
	width:750px;
	height:280px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:30px;
}

#purchaseTable > #left{
	position:relative;
	top:20px;
	float:left;
	left:70px
}

#purchaseTable > #right{
	float:left;
	position:relative;
	top:50px;
	left:160px;
	font-size:16px;
	bottom:10px;
}

#purchaseTable >#right td{
	position:relative;
	left:20px;
}

.purchaseBtn{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.purchase_img{
	border-radius: 20px;
	width:240px;
	height:210px;
	box-shadow: 0px 0px 30px #848484;
	}